html{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: white;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
main{
    background-color: black;
    margin: 1%;
    width: 99%;
    /* height: 90%; */
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}
main>h2{
    align-self: flex-start;
    padding-left: 50px;
}
/* main>h2{
    margin-right: 715px;
} */
#contenido{
    /* display: flex;
    /* align-items: center; */
    /* flex-direction: column; */
    height: 90%;
    padding-bottom: 5%;
    width: 90%;
    align-self: center;
    
}
header{
    background-color: blue;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    border: 2px solid black;
    
}
#hero{
    background-color: red;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    border: 2px solid black;
}

#cs{
    display: flex;
    flex-direction: column;
    width: 90%;
    border: 2px solid black;
   
}
#content{
    background-color: green;
    border: 2px solid black;
    
    display: flex;
    flex-direction: column;
    padding-left: 30px;
  
}
#sidebar{
    background-color: blueviolet;
    border: 2px solid black;
    
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}
footer{
    background-color: grey;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    border: 2px solid black;
}

@media screen and (min-width:480px) {
    #cs {
        display: flex;
        flex-direction: row;
    }

    #content{
        flex: 70%;
    }

    #sidebar{
        flex: 30%;
    }
    
}

@media screen and (min-width:820px) {

    #cs{
        display: flex;
        flex-direction: row;
        max-width: 880px;
    
        

}
    #content{
    flex: 70%;
}

    #sidebar{
    flex: 30%;
}
}

